# Compiled Object files
*.slo
*.lo
*.o
*.b

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Build
Bin

temp*
*/temp*
*/*/temp*
*/*/temp*

*.py
.qglviewer.xml

qt_act_recorder.txt

*.log